<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersHandler</servlet-name>
        <servlet-class>controller.UsersHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestHandler</servlet-name>
        <servlet-class>controller.ManageRequestHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAssetHandler</servlet-name>
        <servlet-class>controller.ManageAssetHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePurchaseDetailHandler</servlet-name>
        <servlet-class>controller.ManagePurchaseDetailHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAssetMovementHandler</servlet-name>
        <servlet-class>controller.ManageAssetMovementHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAssetReportingHandler</servlet-name>
        <servlet-class>controller.ManageAssetReportingHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAssetImage</servlet-name>
        <servlet-class>controller.UploadAssetImageHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersHandler</servlet-name>
        <url-pattern>/UsersHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestHandler</servlet-name>
        <url-pattern>/ManageRequestHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAssetHandler</servlet-name>
        <url-pattern>/ManageAssetHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePurchaseDetailHandler</servlet-name>
        <url-pattern>/ManagePurchaseDetailHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAssetMovementHandler</servlet-name>
        <url-pattern>/ManageAssetMovementHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAssetReportingHandler</servlet-name>
        <url-pattern>/ManageAssetReportingHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAssetImage</servlet-name>
        <url-pattern>/UploadAssetImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
